body
{
	font-family: lucinda, helvetica;
	font-size: 16px;
}

a, a:visited
{
	color: #ff9999;
}

h3, h4
{
	margin-top:0px;
	padding-top:0px;
}

.top
{
	position: absolute;
	left:20px;
	top:20px;
	width: 980px;
	height: 60px;
}

.left
{
	position: absolute;
	left: 20px;
	top: 90px;
	width: 100px;
	height: 400px;
}

.middle
{
	position: absolute;
	left: 130px;
	top: 90px;
	width: 660px;
	height: 400px;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}

.right
{
	position: absolute;
	left: 810px;
	top: 90px;
	width: 190px;
	height: 400px;
}

.sponsortitle
{
	font-weight: bold;
}

.navtitle
{
	font-weight: bold;
}

div.left-column
{
	float: left;
	width: 290px;
	padding-right: 39px;
	border-right: 1px solid black;
}

div.right-column
{
	float: right;
	width: 290px;
	padding-left: 40px;
}

aside.sponsorlist a:link
{
	text-decoration: none;
}

aside.sponsorlist a:hover
{
	background-color: blue;
}

.active
{
	background-color: blue;
}

tbody.assortimentBody tr:nth-child(odd)
{
	background-color: #92B2DA;
}

tbody.assortimentBody tr:nth-child(even)
{
	background-color: #DDE8F5;
}

input.error
{
	border: 1px solid red;
}

div.error
{
	color: red;
	font-weight: bold;
	display: none;
}

.shoppingCart
{
	font-size: 10px;
}
